{% if 'genomics_01_input_validation' in request.selected_steps %}
    GENOMICS_TRIM_FASTQ(GENOMICS_INPUT_VALIDATION.out.manifest)
{% else %}
    GENOMICS_TRIM_FASTQ(file(params.input, checkIfExists: true))
{% endif %}
