profiles {
  test {
    process.executor = 'local'
  }
  local {
    process.executor = 'local'
  }
  docker {
    docker.enabled = true
    process.executor = 'local'
  }
  conda {
    conda.enabled = true
    process.executor = 'local'
  }
}

process {
  cpus = 1
  memory = '2 GB'
  time = '2h'
}
