nextflow.enable.dsl = 2

{% for step in steps %}
{% include 'atomic_steps/includes/' ~ step.step_id ~ '.nf.j2' ignore missing %}

{% endfor %}
{% if 'rnaseq_04_adapter_quality_trimming' in request.selected_steps %}
include { MAKE_PREPROCESS_MANIFEST; MERGE_PREPROCESS_MANIFEST } from '../../../modules/common/make_preprocess_manifest/main'
{% endif %}

workflow {
{% if params.get('needs_fastq_channel') %}
{% include 'atomic_steps/channels.nf.j2' %}
{% endif %}

{% for step in steps %}
{% include 'atomic_steps/calls/' ~ step.step_id ~ '.nf.j2' ignore missing %}

{% endfor %}
}
